# Ignore node_modules and dependency files
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.bun

# Ignore environment and secrets files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore local dev files and logs
logs
*.log
*.gz
*.sqlite
*.sqlite-journal
coverage
.vscode
.idea
.DS_Store

# Ignore build artifacts
dist
build
out

# Ignore Git and Docker files
.git
.gitignore
.dockerignore
